*~
.swp
.*.swp
.swp
.gwt
.gwt-tmp
target
.classpath
.externalToolBuilders
.project
.settings
.springBeans
.vscode
.DS_Store
*.iml
*.iws
*.ipr
.launch
.*launch
.idea
.jqwik-database
npm-debug.log
yarn-error.log
.factorypath

# Ignore jenv local version files
.java-version

# Antora artifacts
/build/
/public/
pom.xml.versionsBackup
assembly/pom.xml.versionsBackup
assembly/kar/pom.xml.versionsBackup
client/pom.xml.versionsBackup
client/api/pom.xml.versionsBackup
client/v1/pom.xml.versionsBackup
client/v2/pom.xml.versionsBackup
karaf-features/pom.xml.versionsBackup
plugin/pom.xml.versionsBackup
